{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V19</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Main CSS-->
  <link href="{% static  'css/startConnection.css' %}" rel="stylesheet">
  <title>Connection Portal</title>
</head>
<body>
	<header>CLARK AEROSPACE</header>

	<div id="container">
			<span>AUVSI Connection</span>
      <form style="margin-top: 25px;" method="POST">
          {% csrf_token %}
					<div class="form-group" style="margin-left: 40px;margin-right: 40px;">
					  <input type="text" name="url" id="url" class="form-control"  placeholder="http://127.0.0.1:8000"
					  style="padding-bottom: 30px;padding-top: 30px;">
					</div>
					<div class="form-group" style="margin-left: 40px;margin-right: 40px;">
					  <input type="text" name="username" id="username" class="form-control" placeholder="username"
					  style="padding-bottom: 30px;padding-top: 30px;">
          </div>
          <div class="form-group" style="margin-left: 40px;margin-right: 40px;">
            <input type="text" name="password" id="password" class="form-control" placeholder="password"
            style="padding-bottom: 30px;padding-top: 30px;">
          </div>
					<button type="submit" class="btn btn-primary" style="margin-left: 40px;width: 330px;padding-bottom: 20px;
					padding-top: 20px;background-color: #e39721; border-color: #e39721;">Submit</button>
				  </form>
	</div>
 	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>