#logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* cards content */
.bg-primary {
    background-color: #2d373a !important;
}
.card-body {
    background: #ededf1;
    color:black;
}
a{
    color:#fff;
}
/* end of card content */