html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2b2a34;
  }
#title{
    height: 5%;
}
#map{
    height:95%;
    width:95%;
    margin:auto;
    border: 1px solid #ccc !important;
    border-radius: 16px;
}

p{
    text-align: center;
    font-size: 25px;
    color:#fff;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }


  /* mapTypes floating-panel */
  .dropdown{
    position: absolute;
    top: 52px;
    right: 6%;
  }
#dropdownMenuButton{
    font-size: 1.1rem;
    font-weight: 500;  
  }

.btn-secondary {
    color: #52565b;
    background-color:#fff;
    border-color:#6c757d;
}

.btn-secondary:hover {
    color:#282525;
    background-color:#d8dbde;
    border-color:#545b62;
}

.dropdown-menu a{
  text-decoration: none !important;
} 
/* end mapTypes floating-panel */